/* StudentForm.css */

.studentForm {
  margin: 0 auto;
  width: 65vw;
}

.register {
  padding: 10px;
  color: #11425f;
}

.Form {
  width: 93%;
  margin-left: 4%;
  /* height: 93%; */
}

/* Add any additional styling specific to the student form here */
/* ... */
